@{
  Layout = "_Layout";
}


<h1>Contact Identity Tracker</h1>
<hr>

<p>(contact book ui will go here)</p>

<h5>@Html.ActionLink("Full contact list", "Index", "Contacts")</h5>
<h5>@Html.ActionLink("Full group list", "Index", "Groups")</h5>
<h5>@Html.ActionLink("Full identity list", "Index", "Identities")</h5>
