@{
  Layout = "_Layout";
}

<h2>Full Contact List</h2>

@using ContactIdentityList.Models;

<hr>

@if (Model.Count == 0)
{
  <p><em>No contacts.</em></p>
}
else
{
  <ul>
  @foreach (Contact contact in Model)
  {
  <li>@Html.ActionLink(@contact.FullName, "Detail", "Contacts", new { contactId = contact.ContactId } )</li>
  }
  </ul>
}

<strong>@Html.ActionLink("Create new contact", "Create", "Contacts")</strong>
