<nav class="top-nav-bar">
  @Html.ActionLink("Homepage", "Index", "Home")
  @Html.ActionLink("Contact List", "Index", "Contacts")
  @Html.ActionLink("Identities List", "Index", "Identities")
  @Html.ActionLink("Groups List", "Index", "Groups")
</nav>
